---
const { imgPath } = Astro.props;
---

<div
  style=`background-image: url(portfolio/${imgPath})`
  class="transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full w-full rounded-xl opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:opacity-40 bg-cover scale-[100%] group-hover:scale-[110%]"
>
</div>
