---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
// import Experience from "@/components/Experience/Experience.astro";
import AboutMe from "@/components/AboutMe.astro";
import Cursos from "@/components/Cursos/Cursos.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects/principales/Projects.astro";
import Section from "@/components/Section.astro";
import SocialSection from "@/components/Social/SocialSection.astro";
---

<Layout
  title="Vicente Rivera | Desarrollador y Programador Web"
  description="Portfolio de Vicente Rivera, Desarrollador web Frontend. Temuco, Chile."
>
  <main class="mx-4 md:mx-auto max-w-[60rem]">
    <Section class="py-40 md:pt-64" id="welcome">
      <Hero />
    </Section>
    <!-- <Section id="experience">
      <h2 class="flex items-center gap-x-2 text-4xl font-semibold pb-2">
        <BriefcaseIcon class="size-8" /> Experiencia Laboral
      </h2>
      <Experience />
    </Section> -->
    <Section id="proyects">
      <h2 class="flex items-center gap-x-2 text-4xl font-semibold pb-2">
        <Icon name={"Code"} class="size-8" /> Proyectos
      </h2>
      <Projects />
    </Section>
    <Section id="cursos">
      <h2 class="flex items-center gap-x-2 text-4xl font-semibold pb-2">
        <Icon name={"notebook"} class="size-8" /> Certificados
      </h2>
      <Cursos/>
    </Section>
    <Section id="about">
      <h2 class="flex items-center gap-x-2 text-4xl font-semibold pb-2">
        <Icon name={"User"} class="size-8" /> Acerca de mí
      </h2>
      <AboutMe />
    </Section>
    <Section id="contact">
      <h2 class="flex items-center gap-x-2 text-4xl font-semibold pb-2">
        <Icon name={"send"} class="size-8" />Contacto
      </h2>
      <SocialSection class="md:py-4"/>
  </main>
</Layout>
