---
import Layout from "@/layouts/proyects-layout.astro";
import Section from "@/components/Section.astro";
import { projects } from "@/components/Projects/projects";
import FullProjectCard from "@/components/Projects/FullProjectCard.astro";
---

<Layout title="Proyectos | Vicente Rivera" description="Lista detallada de mis proyectos">
  <main class="mx-4 md:mx-auto max-w-[70rem] w-full">
    <Section >
      <a href="/portfolio" class="underline">Volver al inicio</a>
      <h1 class="text-4xl font-semibold mt-2 mb-8">
        Lista completa de mis proyectos
      </h1>
      <div
        class=`
        grid grid-cols-1 gap-4
        w-full max-w-[1400px]
        mx-auto
        mb-2
        `
      >
        {
          projects.map((project) => {
            return (
              <FullProjectCard {...project} />
            )
          })
        }
      </div>
      <a href="/portfolio" class="underline w-full justify-end flex">Volver al inicio</a>
    </Section>
  </main>
</Layout>
