---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
const { maxWidth = "max-w-[60rem]" } = Astro.props;
---

<footer
  class=`mx-8 md:mx-auto py-10 flex justify-between items-center text-sm text-gray-300 ${maxWidth} md:w-full`
>
  <p class="text-center">
    © {year} Vicente Rivera.
  </p>
  <div class="flex gap-x-4">
    <a
      href="https://github.com/vcntttt"
      target="_blank"
      aria-label="Ir a mi Github"
    >
      <Icon name="Github" />
    </a>
    <a
      href="https://www.linkedin.com/in/vicente-rivera-67559328b/"
      target="_blank"
      aria-label="Ir a mi Linkedin"
    >
      <Icon name="Linkedin" />
    </a>
  </div>
</footer>
