---
import { Icon } from "astro-icon/components";
import Card from "./Card.astro";
import { cursos } from "./cursos";
---

<div class="flex w-full max-w-[1400px] gap-8 flex-col md:flex-row">
  {cursos.map((curso) => <Card {...curso} />)}
</div>