---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <!-- <body class="bg-gradient-to-b from-[#0f172a]  to-[#101925]"> -->
  <body
    class="bg-[conic-gradient(at_bottom,_var(--tw-gradient-stops))] from-[#0f172a] via-[#1e1a78] to-[#0f172a]"
  >
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    max-width: 60rem;
    margin: 0 auto;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
</style>
