---
import Layout from "@/layouts/projects-layout.astro";
import Section from "@/components/Section.astro";
import { projects } from "@/data/projects";
import FullProjectCard from "@/components/Projects/FullProjectCard.astro";
import { Icon } from "astro-icon/components";
---

<Layout
  title="Proyectos | Vicente Rivera"
  description="Lista detallada de mis proyectos"
>
  <main class="mx-4 md:mx-auto max-w-[70rem]">
    <Section>
      <a href="/" class="underline flex items-center gap-x-1"
        ><Icon name="arrow-left" /> Volver al inicio</a
      >
      <h1 class="text-4xl font-semibold mt-2 mb-8">
        Lista completa de mis proyectos
      </h1>
      <div
        class=`
        grid grid-cols-1 gap-4
        w-full max-w-[1400px]
        mx-auto
        mb-2
        `
      >
        {
          projects.map((project) => {
            return <FullProjectCard {...project} />;
          })
        }
      </div>
      <a
        href="/"
        class="underline w-full justify-end flex items-center gap-x-1"
      >
        Volver al inicio <Icon name="arrow-right" /></a
      >
    </Section>
  </main>
</Layout>
<script>
  import { op } from "@/op";
  op.track("someone landed", { page: "projects" });
</script>
